//VARIABLES
$grey-bg: rgba(128, 128, 128, 0.062);

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

//MIXINS
@mixin fontFamilyRoboto($size) {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: $size;
}

@mixin fontFamilyShrikhand($size) {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: $size;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  a {
    text-decoration: none;
  }
}

h1 {
  @include fontFamilyShrikhand(31px);

  width: 100%;

  text-align: center;

  margin: 15px 0 4px 0;
}

.location {
  @include fontFamilyRoboto(17px);

  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;

  margin: 0;
  padding-left: 100px;

  text-align: left;

  background: rgb(147, 145, 145);
  background: linear-gradient(
    180deg,
    rgb(197, 196, 196) 0%,
    rgba(226, 226, 226, 1) 10%
  );

  i {
    margin-right: 15px;

    font-size: 17px;
  }
}

.wrapper-reservation {
  padding: 50px 35px;
  background-color: $grey-bg;

  h2 {
    @include fontFamilyRoboto(26px);

    margin: 0;
    margin-bottom: 15px;

    text-align: center;
  }

  .description {
    @include fontFamilyRoboto(17.5px);

    margin-top: 7px;
    margin-bottom: 35px;

    text-align: center;

    color: gray;
  }

  a {
    display: block;

    margin: 0 40px;

    border-radius: 50px;
  }

  .explore-restaurants {
    @include fontFamilyRoboto(17px);

    padding: 15px 0;

    border-radius: 50px;

    text-align: center;

    color: white;

    background: $primary;
    background: linear-gradient(355deg, $primary 1%, $secondary 100%);
  }
}
