@import "./variables";

//GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
// HEADER FOR MOBILES < 768PX

//LOADER SPINNER ANIMATION FOR HOME PAGE
@include loader();

//HEART PROGRESSIVE FILLING ANIMATION
@include heartHover();

* {
  box-sizing: border-box;
}

body {
  cursor: default;

  min-width: 360px;

  margin: 0;

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.header__img {
  display: flex;
  justify-content: center;

  img {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.location {
  @include fontText(17px, bold, $color-black);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;

  margin: 0;

  padding-right: 40px;

  text-align: left;

  background-image: $color-bg-location;

  i {
    margin-right: 15px;

    font-size: 17px;
  }
}

.wrapper-reservation {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding-top: 25px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 35px;

  background-color: $grey-bg;

  h1 {
    @include fontFamilyRoboto(24px);

    margin: 0;
    margin-top: 12px;
    margin-bottom: 7px;

    padding: 0 10px 0 10px;

    text-align: center;

    line-height: 27px;
  }

  .description {
    @include fontFamilyRoboto(17.5px);

    margin-top: 7px;
    margin-bottom: 32px;

    text-align: center;

    color: gray;
  }

  a {
    @include fontFamilyRoboto(16px);

    display: block;

    margin: 0 40px;
    padding: 13px 23px;

    border-radius: 50px;

    text-align: center;

    color: white;

    background: $button-bg;

    @include buttonShadow();

    @include buttonTransition();

    &:hover {
      @include buttonHover;
    }
  }
}

// MAIN SECTION (ASIDE + SECTION RESTAURANTS) FOR MOBILES < 768PX

main {
  display: flex;
  flex-flow: column nowrap;
}

aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin: 0 20px;

  .aside-wrapper {
    width: 100%;
  }

  h2 {
    @include fontFamilyRoboto(23px);

    font-weight: bold;
  }

  .wrapper-steps {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 100%;

    margin-bottom: 50px;

    &__step {
      @include boxShadowLight();

      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      width: 100%;
      height: 70px;

      border-radius: 20px;

      margin-top: 20px;
      padding-right: 50px;

      background-color: $grey-bg;

      transition: 0.5s;

      &:hover {
        @include stepHover();
      }

      ul {
        display: flex;

        @include fontFamilyRoboto(16px);
        font-weight: bold;

        list-style: none;
        padding-left: 0;

        color: black;

        .number {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 25px;
          height: 25px;

          margin-left: -8px;

          font-weight: normal;
          font-size: 15px;

          color: white;

          background-color: $primary;
          border-radius: 50px;
        }

        .icon {
          margin-left: 20px;
          font-size: 20px;
          color: gray;
        }

        .text {
          margin-left: 20px;
        }
      }
    }
  }
}

//RESTAURANTS SECTION FOR MOBILES < 768PX

.restaurants {
  display: flex;
  flex-flow: column nowrap;

  background-color: $grey-bg;

  h2 {
    @include fontFamilyRoboto(23px);
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .wrapper-cards {
    margin: 0 20px;
    padding-bottom: 50px;

    article {
      position: relative;
      // height: 220px;
    }

    i {
      bottom: 20px;
    }

    a {
      display: block;

      border-radius: 20px;

      margin-bottom: 20px;
    }

    .post-it {
      @include fontFamilyRoboto(15px);
      font-weight: bold;

      position: absolute;

      top: 13px;
      right: 13px;

      margin: 0;
      padding: 5px 13px;

      border-radius: 3px;

      background-color: $tertiary;
      color: $post-it-color;
    }

    figure {
      cursor: pointer;
      position: relative;

      margin: 16px 0;

      border-radius: 20px;

      box-shadow: 2px 2px 10px 1px $shadowColor;

      img {
        width: 100%;
        min-width: 100%;

        height: 140px;
        min-height: 140px;

        border-radius: 20px 20px 0 0;

        -o-object-fit: cover;

        object-fit: cover;
      }

      figcaption {
        display: flex;
        justify-content: space-between;

        padding: 10px 15px;

        h3 {
          @include fontText(18px, bold, $color-black);
          margin: 0;
          margin-bottom: 5px;
        }

        p {
          @include fontText(17px, normal, $color-black);
          margin: 0;
          margin-bottom: 5px;
        }
      }
    }
  }

  .heart-wrapper.home {
    position: absolute;
    top: 155px;
    right: 30px;
  }
}

//FOOTER SECTION MOBILES < 768PX

footer {
  padding: 20px 5px;
  background-color: $colorFooter;

  h4 {
    @include fontTitle(19px, normal, white);

    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .wrapper {
    padding-left: 20px;

    ul {
      list-style: none;

      margin: 0;

      padding-left: 0;
    }

    li {
      margin: 5px 0;
    }

    a {
      @include fontText(17px, normal, white);
    }

    .propose {
      &__icon {
        font-size: 13px;
        margin-right: 15px;
      }
    }

    .partner {
      &__icon {
        font-size: 13px;
        margin-right: 10px;
      }
    }
  }
}

//============================================================================
//= TABLET VERSION FROM 768PX TO 1023PX ======================================
//============================================================================

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants {
    .wrapper-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      article {
        display: block;
        width: 48%;
        margin: 20px 0;
      }

      i {
        bottom: 38px;
      }

      figure {
        display: block;
        margin: 0;
      }
    }
  }

  .heart-wrapper.home {
    position: absolute;
    top: 155px;
    right: 30px;
  }

  .footer-wrapper {
    margin-left: 5%;
  }
}

//============================================================================
//= DESKTOP VERSION SUPERIOR FROM 1024PX TO 1319PX ===========================
//============================================================================
@media screen and (min-width: 1024px) and (max-width: 1319px) {
  aside {
    .aside-wrapper {
      width: 100%;
    }

    .wrapper-steps {
      flex-direction: row;
      justify-content: space-between;

      &__step {
        width: 31%;
      }
    }
  }

  .restaurants {
    width: 100%;
    .wrapper-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      i {
        bottom: 38px;
      }
    }

    article {
      width: 48%;
    }

    .heart-wrapper.home {
      position: absolute;
      top: 170px;
      right: 30px;
    }
  }
}

//============================================================================
//= DESKTOP VERSION SUPERIOR TO 1319PX =======================================
//============================================================================
@media screen and (min-width: 1320px) {
  aside {
    // margin: auto 10%;

    .aside-wrapper {
      padding-left: 10%;
      padding-right: 10%;
    }

    .wrapper-steps {
      flex-flow: row nowrap;
      justify-content: space-between;

      &__step {
        width: auto;
      }
    }
  }

  .restaurants {
    .restaurants-wrapper {
      display: flex;
      flex-flow: column nowrap;

      width: auto;

      padding-left: 10%;
      padding-right: 10%;
    }
    .wrapper-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      article {
        display: block;

        width: 48%;
      }

      i {
        bottom: 38px;
      }
    }

    .heart-wrapper.home {
      position: absolute;
      top: 170px;
      right: 30px;
    }
  }

  .footer-wrapper {
    margin: 0 10%;
  }
}
