//GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Shrikhand&display=swap");

//VARIABLES
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$color-black: black;
$color-grey: grey;

$color-bg-location: linear-gradient(
  180deg,
  rgb(197, 196, 196) 0%,
  rgba(226, 226, 226, 1) 10%
);

$button-bg: linear-gradient(355deg, $primary 1%, $secondary 100%);
$grey-bg: rgba(128, 128, 128, 0.062);
$shadow-color: rgba(128, 128, 128, 0.411);
$post-it-color: rgb(73, 150, 96);

//MIXINS

@mixin fontFamilyRoboto($size) {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: $size;
}

@mixin fontFamilyShrikhand($size) {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: $size;
}

//TITLES FONT SHRIKHAND
@mixin fontTitle($size, $weight, $color) {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

//TEXTS FONT ROBOTO
@mixin fontText($size, $weight, $color) {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

// HEADER FOR MOBILES < 768PX

* {
  box-sizing: border-box;
}

body {
  min-width: 340px;
  margin: 0;

  a {
    text-decoration: none;
  }
}

h1 {
  @include fontTitle(31px, bold, $color-black);

  width: 100%;

  text-align: center;

  margin: 15px 0 4px 0;
}

.location {
  @include fontText(17px, bold, $color-black);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;

  margin: 0;

  padding-right: 40px;

  text-align: left;

  background-image: $color-bg-location;

  i {
    margin-right: 15px;

    font-size: 17px;
  }
}

.wrapper-reservation {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding-top: 25px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 35px;

  background-color: $grey-bg;

  h2 {
    @include fontFamilyRoboto(25px);

    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;
  }

  .description {
    @include fontFamilyRoboto(17.5px);

    margin-top: 7px;
    margin-bottom: 20px;

    text-align: center;

    color: gray;
  }

  a {
    display: block;

    margin: 0 40px;

    border-radius: 50px;
  }

  .explore-button {
    @include fontFamilyRoboto(17px);

    padding: 15px 20px;

    border-radius: 50px;

    text-align: center;

    color: white;

    background-image: $button-bg;

    box-shadow: 2px 2px 15px -3px $shadow-color;

    transition: 0.5s;

    &:hover {
      box-shadow: 2px 2px 10px 3px $shadow-color;
      filter: brightness(115%);
    }
  }
}

// MAIN SECTION (ASIDE + SECTION RESTAURANTS) FOR MOBILES < 768PX

main {
  display: flex;
  flex-flow: column nowrap;
}

aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin: 0 20px;

  .aside-wrapper {
    width: 100%;
  }

  h3 {
    align-self: flex-start;

    @include fontFamilyRoboto(23px);

    font-weight: bold;
  }

  .wrapper-steps {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 100%;

    margin-bottom: 50px;

    &__step {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      width: 100%;
      height: 70px;

      border-radius: 20px;

      margin-top: 20px;
      padding-right: 50px;

      background-color: $grey-bg;

      box-shadow: 5px 5px 20px 1px $shadow-color;

      ul {
        display: flex;

        @include fontFamilyRoboto(16px);
        font-weight: bold;

        list-style: none;
        padding-left: 0;

        color: black;

        .number {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 25px;
          height: 25px;

          margin-left: -8px;

          font-weight: normal;
          font-size: 15px;

          color: white;

          background-color: $primary;
          border-radius: 50px;
        }

        .icon {
          margin-left: 20px;
          font-size: 20px;
          color: gray;
        }

        .text {
          margin-left: 20px;
        }
      }
    }
  }
}

//RESTAURANTS SECTION FOR MOBILES < 768PX

.restaurants {
  display: flex;
  flex-flow: column nowrap;

  background-color: $grey-bg;

  h3 {
    @include fontFamilyRoboto(23px);
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .wrapper-cards {
    margin: 0 20px;
    padding-bottom: 50px;

    a {
      display: block;

      border-radius: 20px;

      margin-bottom: 20px;
    }

    .post-it {
      @include fontFamilyRoboto(15px);
      font-weight: bold;

      position: absolute;

      top: 13px;
      right: 13px;

      margin: 0;
      padding: 8px 13px;

      border-radius: 5px;

      background-color: $tertiary;
      color: $post-it-color;
    }

    figure {
      position: relative;

      margin: 16px 0;

      border-radius: 20px;

      box-shadow: 2px 2px 10px 1px $shadow-color;

      img {
        width: 100%;
        min-width: 100%;

        height: 150px;
        min-height: 150px;

        border-radius: 20px 20px 0 0;

        object-fit: cover;
      }
      figcaption {
        display: flex;
        justify-content: space-between;

        padding: 10px 15px;

        h4 {
          @include fontText(18px, bold, $color-black);
          margin: 0;
          margin-bottom: 5px;
        }
        p {
          @include fontText(17px, normal, $color-black);
          margin: 0;
          margin-bottom: 5px;
        }
        i {
          align-self: center;

          font-size: 20px;

          color: $color-black;
        }
      }
    }
  }
}

//FOOTER SECTION MOBILES < 768PX

footer {
  padding: 20px 5px;
  background-color: lighten($color: hsl(0, 0%, 4%), $amount: 15);

  h5 {
    @include fontTitle(19px, normal, white);

    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .wrapper {
    padding-left: 20px;

    ul {
      list-style: none;

      margin: 0;

      padding-left: 0;
    }

    li {
      margin: 5px 0;
    }

    a {
      @include fontText(17px, normal, white);
    }

    .propose {
      &__icon {
        font-size: 13px;
        margin-right: 15px;
      }
    }

    .partner {
      &__icon {
        font-size: 13px;
        margin-right: 10px;
      }
    }
  }
}

//============================================================================
//= TABLET VERSION FROM 768PX TO 1023PX ======================================
//============================================================================

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants {
    .wrapper-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      a {
        display: block;
        width: 48%;
        margin: 20px 0;
      }

      figure {
        display: block;
        margin: 0;
      }
    }
  }
}

//============================================================================
//= DESKTOP VERSION SUPERIOR TO 1023PX =======================================
//============================================================================
@media screen and (min-width: 1024px) and (max-width: 1319px) {
  aside {
    .aside-wrapper {
      width: 100%;
    }

    .wrapper-steps {
      flex-direction: row;
      justify-content: space-between;

      &__step {
        width: 31%;
      }
    }
  }

  .restaurants {
    width: 100%;
    .wrapper-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    a {
      width: 48%;
    }
  }
}

//============================================================================
//= DESKTOP VERSION SUPERIOR TO 1320PX =======================================
//============================================================================
@media screen and (min-width: 1320px) {
  aside {
    margin: auto 10%;

    .aside-wrapper {
      width: 100%;
    }

    .wrapper-steps {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      &__step {
        width: auto;
      }
    }
  }

  .restaurants {
    .restaurants-wrapper {
      display: flex;
      flex-flow: column nowrap;

      width: auto;

      margin: auto 8%;
    }
  }

  .wrapper-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: auto;
    a {
      display: block;

      width: 48%;
    }
  }
}
