//GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Shrikhand&display=swap");

//VARIABLES
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$color-black: black;
$color-grey: grey;

$color-bg-location: linear-gradient(
  180deg,
  rgb(197, 196, 196) 0%,
  rgba(226, 226, 226, 1) 10%
);

$button-bg: linear-gradient(355deg, $primary 1%, $secondary 100%);
$grey-bg: rgba(128, 128, 128, 0.062);
$shadow-color: rgba(128, 128, 128, 0.411);
$post-it-color: rgb(73, 150, 96);

//MIXINS

@mixin fontFamilyRoboto($size) {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: $size;
}

@mixin fontFamilyShrikhand($size) {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: $size;
}

//TITLES FONT SHRIKHAND
@mixin fontTitle($size, $weight, $color) {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

//TEXTS FONT ROBOTO
@mixin fontText($size, $weight, $color) {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

// HEADER FOR MOBILES < 768PX

* {
  box-sizing: border-box;
}