@import "./variables";

//GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

//============================================================================
//= MOBILE VERSION INFERIOR TO 768PX =========================================
//============================================================================

//HEART HOVER EFFECT
@include heartHover();

//DISH GREEN CHECK ICON ANIMATION
@include dishAnimation();

//GRADUAL APPEARANCE OF DISHES
@include dishAppearing();

* {
  box-sizing: border-box;
}

body {
  cursor: default;

  min-width: 360px;

  margin: 0;

  a {
    text-decoration: none;
  }
}

h1 {
  @include fontTitle(28px, normal, $color-black);

  margin-left: 10px;
}

h2 {
  //::after position (green title underline) is relative to H3 position
  position: relative;

  @include fontText(17px, normal, $color-black);

  margin: 0;
  margin-left: 8px;
  margin-bottom: 25px;

  &::after {
    position: absolute;
    left: 0;
    top: 25px;

    width: 45px;
    height: 4px;

    content: "";

    background-color: $tertiary;
  }
}

h3 {
  @include fontText(18px, bold, $color-black);
  @include textEllipsis();
  margin: 0;
  margin-bottom: 5px;
}

.header-wrapper {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;

  background: #e7e5e5;
}

.header__img {
  img {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

nav {
  position: absolute;

  width: -webkit-fit-content;
  width: -moz-fit-content;

  top: 20px;
  left: 15px;

  a {
    display: block;

    // position: absolute;
  }

  i {
    font-size: 25px;

    color: $color-black;
  }
}

figure {
  margin: 0;

  img {
    position: relative;

    display: block;

    width: 100%;
    height: 300px;
    min-height: 300px;

    -o-object-fit: cover;

    object-fit: cover;
  }
}

//DISHES CARD SECTION

.main-wrapper {
  width: 100%;
  padding: 15px;

  background: rgb(231, 229, 229);
}

.restaurant-header {
  position: absolute;
  top: 300px;

  width: 100%;
  min-width: 360px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  background: $card-bg;

  border-radius: 40px 40px 0 0;

  padding: 0 15px;
}

.cards-wrapper {
  margin-bottom: 40px;
}

.dish-card {
  @include fontFamilyRoboto(inherit);

  @include boxShadowLight;

  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;

  overflow: hidden;

  height: 100%;

  background-color: white;

  border-radius: 15px;

  margin-top: 15px;

  &__content {
    min-width: 0;
    padding: 15px;

    p {
      @include textEllipsis();

      margin: 0;

      color: black;
    }
  }

  &__price {
    color: black;
    padding: 15px;
  }

  &__priceAndCheck {
    display: flex;
    align-items: flex-end;

    height: 76px;
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 0;
    height: 100%;

    border-radius: 0 15px 15px 0;

    font-size: 20px;

    background-color: $tertiary;
    color: white;
  }
}

.wrapper-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.order-button {
  @include fontText(18px, normal, white);

  display: block;

  padding: 12px 22px;
  margin-bottom: 30px;

  border-radius: 50px;

  background: $button-bg;

  @include buttonShadow();

  @include buttonTransition();

  &:hover {
    @include buttonHover();
  }
}

//FOOTER MOBILES < 768PX
footer {
  width: 100%;

  padding: 20px 5px;

  background-color: $colorFooter;

  h4 {
    @include fontTitle(19px, normal, white);

    margin-top: 0px;
    margin-bottom: 10px;
  }

  .footer-wrapper {
    padding-left: 15px;
  }

  .wrapper {
    ul {
      list-style: none;

      margin: 0;

      padding-left: 0;
    }

    li {
      margin: 5px 0;
    }

    a {
      @include fontText(17px, normal, white);
    }

    .propose {
      &__icon {
        font-size: 13px;
        margin-right: 15px;
      }
    }

    .partner {
      &__icon {
        font-size: 13px;
        margin-right: 10px;
      }
    }
  }
}

//============================================================================
//= TABLET VERSION SUPERIOR TO 767PX AND INFERIOR TO 1024PX ================
//============================================================================
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant-header {
    padding: 0 10%;
  }

  nav {
    left: 10%;
  }

  .main-wrapper {
    padding: 15px 10%;
  }

  .footer-wrapper {
    margin: 0 8.5%;
  }
}

//============================================================================
//= DESKTOP VERSION SUPERIOR TO 1023PX AND INFERIOR TO 1320PX ================
//============================================================================
@media screen and (min-width: 1024px) and (max-width: 1319px) {
  .main-wrapper {
    padding: 15px 10%;
  }

  .restaurant-header {
    padding: 0 10%;

    i {
      margin-right: 85px;
    }
  }

  nav {
    left: 10%;
  }

  .footer-wrapper {
    margin: 0 8.5%;
  }
}

//============================================================================
//= DESKTOP VERSION SUPERIOR TO 1319PX =======================================
//============================================================================
@media screen and (min-width: 1320px) {
  .main-wrapper {
    padding: 15px 15%;
  }

  .restaurant-header {
    padding: 0 15%;

    i {
      margin-right: 20px;
    }
  }

  nav {
    left: 15%;
  }

  .footer-wrapper {
    margin: 0 14%;
  }
}